# single-dir codebase
dev/codebase/*

# temporary location, but for now let's ignore zig's binary output
zig-out/

# zig garbage
.zig-cache/

# make garbage
*.orig
*.rej

# vim garbage
*.swp
*.swo

# other garbage
*.xml
